.background{
    top:0px;
    left:0px;
    position:absolute;
    width: 750px;
    height: 300px;
    background-color:#ffe6f2;
}

p{
    color:#FFFFFF;
    text-align:center;
    font-weight:bold;
}

#coffee{
    top:150px;
    left:50px;
    position:absolute;
    width: 100px;
    height: 100px;
    background-color:#663300;
}

#chocolat{
    top:50px;
    left:150px;
    position:absolute;
    width: 100px;
    height: 200px;
    background-color:#000000;
}

#the{
    top:50px;
    left:250px;
    position:absolute;
    width: 100px;
    height: 200px;
    background-color:#33cc33;
}
#sugar{
    top:50px;
    left:350px;
    position:absolute;
    width: 100px;
    height: 200px;
    background-color:#3399ff;
}
#water{
    top:50px;
    left:450px;
    position:absolute;
    width: 100px;
    height: 200px;
    background-color:#52527a;
}

#milk{
    top:50px;
    left:550px;
    position:absolute;
    width: 100px;
    height: 200px;
    background-color:#ffffff;
}
