/* #machine
#ecran
#afficheur
#btnCafe
#btnChocolat
#btnCappuccino
#btnThe
#imgSucre
#btnMoinsSucre
#btnPlusSucre 
#sucres
#btnPay
#btnCancel
#btnMaintenance
#fente
#renduMonnaie  IDs reservés face avant*/

#machineArriere{
    background-image: url('images/backgroundArriere.png');
    background-repeat: no-repeat;
    height: 1024px;
    width: 768px;
    position: relative;
    margin: auto;

}
#ingredients{
    position: absolute;
    top: 290px;
    left: 38px;

}
#btnResetArriere{
    position: absolute;
    top: 493px;
    left: 588px;
}
#accessoires{
    position: absolute;
    top: 504px;
    left: 40px;
}
#piecesArriere{
    position: absolute;
    top: 722px;
    left: 66px;
}